/* Style CSS */
body {
    font-family: 'Titillium Web', sans-serif;
}
/* Form */

.container {
    margin-top: 5%;
    background-color: white;;
}

form {
    -webkit-box-shadow: 9px 11px 22px -11px rgba(0,0,0,0.75);
    -moz-box-shadow: 9px 11px 22px -11px rgba(0,0,0,0.75);
    box-shadow: 9px 11px 22px -11px rgba(0,0,0,0.75);
    border-radius: 15px;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    outline: 0;
    box-shadow: 0 0 0 .1rem #4f5f768a;
}

a {
    color:#4f5f76;  
}
.links:hover {

    color:#384353;
}
input::placeholder{
    font-style: italic;
}


/*Button*/

.btn {
    background-color: #4f5f76;
    color: white;
    width: 45%;
    height: 50px;
    border: solid 1px #4f5f76;
}

#btnLogout{
    margin: 15px;
}

#btnEdit {
    margin: 15px;
}


.btn:hover {
    background-color: white;
    color:#4f5f76;
}




/* Font style */

.error {
    font-size: 12px;
    color: rgba(185, 6, 6, 0.835);
    padding: 0;
    margin: 0;
}

